@model Application.Programs.ProgramDto

@{
    ViewData["Title"] = "Program Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Program</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefaultDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            <img asp-append-version="true" class="img-thumbnail" width="100" height="100"
                 src="@Model.ImgUrl" style="padding:5px;" />
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
